In [24]:
#Functions
# --------------------
# dev div(parameters & arguments )
#div()
#----------------------

In [29]:
# Keyword arguments
def student(name,age):
    print(name, "is", age, "year old")

student(age=21, name="Suraj")

In [39]:
# Variable Length Argument multi positional
def total_marks(*marks):
    print("All marks: ", marks)
    print("Total: ", sum(marks))

total_marks(80, 40, 30, 30)

All marks:  (80, 40, 30, 30)

TypeError: sum() missing 1 required positional argument: 'b'

In [38]:
#Default Argument
def greet(name="suraj"):
    print("Hello",name)
greet()
greet("Divyank")

Hello suraj
Hello Divyank

In [25]:
# a=5
# b=3
def sum(a,b):
   print(a+b)
sum(4,5)

In [26]:
def even():
    for i in range(2,50,2):
        print(i)
even()

In [27]:
def even():
    for i in range(2,15,2):
        if i%2==0:
            print(i)
even()

In [ ]:
def